<div class="containerMain">
<app-left-contact-for-message></app-left-contact-for-message>
<div class="rightContainer">
  <div class="head">
    <div class="headContent">
      <ng-container *ngIf="contactConversation?.contactName">
        <div class="image-container">
          <img [src]="'data:image/png;base64,'+ contactConversation?.image" alt="Logo">
        </div>
        <h2>{{contactConversation?.contactName}}</h2>
      </ng-container>
    </div>
  </div>
  <div class="messageContainer">
    <ng-container *ngFor="let message of messages">
      <app-message-receive *ngIf="message.type === 'received'" class="message-receive"
                           [message]="message.message"></app-message-receive>
      <app-message-sent *ngIf="message.type === 'sent'" class="message-send"
                        [message]="message.message"></app-message-sent>
    </ng-container>
  </div>
  <div class="writeMessage">
    <app-message-input></app-message-input>
  </div>
</div>
</div>
