<div class="head">
  <img src="../../../assets/img/logo.png" alt="Logo" class="logo">
</div>
<div class="navBar">
  <button class="navButton" (click)="navigate('message')">
    <img src="../../../assets/img/message-nav.png" class="button-image">
  </button>
  <button class="navButton" (click)="navigate('contact')">
    <img src="../../../assets/img/contact-nav.png" class="button-image">
  </button>
  <button class="navButton">
    <img src="../../../assets/img/user-nav.png" class="button-image">
  </button>
</div>
<app-left-contact-for-message></app-left-contact-for-message>
