.head {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 35px;
  padding-bottom: 15px;
}

.navButton {
  cursor: pointer;
  border: none;
  background: transparent;
}

.button-image {
  height: 30px;
  width: 30px;
}

.navButton:not(:last-child) {
  margin-bottom: 50px;
}

.navBar .navButton:last-child {
  margin-top: auto;
}
