<div class="head">
  <img src="../../../assets/img/logo.png" alt="Logo" class="logo">
</div>
<div class="navBar">
  <button class="navButton" (click)="navigate('message')">
    <img src="../../../assets/img/message-nav.svg" class="button-image">
  </button>
  <button class="navButton" (click)="navigate('contact')">
    <img src="../../../assets/img/contact-nav.svg" class="button-image">
  </button>
  <button class="navButton">
    <img src="../../../assets/img/add-contact-nav.svg" (click)="navigate('add-contact')" class="button-image">
  </button>
  <button class="navButton">
    <img src="../../../assets/img/user-nav.svg" class="button-image">
  </button>
</div>
