<div class="leftContainer">
  <div class="contactContainer">
    <app-contact *ngFor="let contact of contactService.contactList; let i = index"
                 [name]="contact.contactName"
                 [telephone]="contact.telephone"
                 [isClicked]="contact.isClicked"
                 [image]="contact.image"
                 (click)="onContactClick(i)">
    </app-contact>
  </div>
  <div class="bottomContainer">
    <button class="buttonLogout" (click)="onDisconectClick()">Se déconnecter</button>
  </div>
</div>
