.leftContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  box-shadow: 6px 0 7px -4px rgb(181 181 181 / 41%);
}

.contactContainer {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  height: 20vh;
}


.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 10px 10px 17px;
}

