.leftContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.contactContainer {
  padding: 10px;
  flex-grow: 1; /* Prend tout l'espace vertical disponible */
  overflow-y: auto;
  height: 20vh;
}


.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 10px 10px 17px;
}

