.rightContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  margin-left: 1px;
}
.head {
  background: linear-gradient(90deg, rgba(131,241,255,1) 0%, rgba(0,198,255,1) 70%, rgba(49,195,255,1) 100%);
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headContent{
  color: black;
  flex-direction: row;
}
