<div class="rightContainer">
  <div class="head">
    <div class="headContent">
      <h2>Contact</h2>
    </div>
  </div>
  <div class="contactContainer">
    <div class="image-container">
      <img [src]="'data:image/png;base64,'+ contactConversation.image">
    </div>
    <form (ngSubmit)="onSubmit()">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" class="file-input">
      <label for="fileInput" class="file-label">Choisir un fichier</label>
      <div class="input-wrapper">
        <input type="text" placeholder="Nom" [(ngModel)]="contactConversation.contactName" name="contactName"
               class="stylish-input">
        <input type="text" placeholder="Numéro de téléphone" [(ngModel)]="contactConversation.telephone"
               name="telephone"
               class="stylish-input">
        <input placeholder="Email" [(ngModel)]="contactConversation.contactEmail" name="contactEmail"
               class="stylish-input input-not-allowed" [disabled]="true">
      </div>
      <div class="buttonContainer">
        <button class="buttonDelete">Delete</button>
        <button class="buttonEdit" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
