.rightContainer{
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 1;
  margin-left: 3px;
}
.containerMain{
  display: flex;
  flex-direction: row;
  margin-left: 1px;
  height: 100vh;
  background-color: white;
}
.image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  position: relative;
  transition: filter 0.3s ease;
}

.contact-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.edit-image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.image-container:hover .contact-image {
  filter: blur(4px);
}

.image-container:hover .edit-image-button {
  display: block;
}

.edit-icon {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.image-container:hover .edit-icon {
  opacity: 1;
}
.file-input {
  display: none;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:20px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.buttonDelete {
  background-color: #ff4d4d;
  border: none;
  color: white;
  min-width: 86px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonDelete:hover {
  background-color: #e60000;
}

.buttonEdit {
  background-color: #0dc716;
  border: none;
  color: white;
  min-width: 86px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonEdit:hover {
  background-color: #28a911;
}
.input-not-allowed {
  background-color: #f5f5f5;
  color: #8d8d8d;
  cursor: not-allowed;
}
.stylish-input {
  width: 100%;
  margin-bottom:20px;
  padding: 10px 15px;
  border: 2px solid #a1efff;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f0faff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.stylish-input:focus {
  border-color: #3399ff;
  box-shadow: 0 0 10px rgba(51, 153, 255, 0.5);
  outline: none;
}

.stylish-input::placeholder {
  color: #8f8f8f;
  opacity: 1;
}

.buttonAddContact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.buttonAddContact:hover {
  transform: scale(1.1);
}

.buttonAddContact img {
  width: 40px;
  height: 40px;
}

.containerCard{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/img/bg-contact.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}
form{
  text-align: center;
}
.card {
  --background: linear-gradient(to left, #82f0ff 0%, #2ec3ff 100%);
  padding: 5px;
  border-radius: 1rem;
  overflow: hidden;
  background: #2b6cf7;
  position: relative;
  z-index: 1;
  box-shadow: 10px 10px 20px rgba(46, 195, 255, 0.7);
}

.card::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(270deg, #82f0ff, #2ec3ff, #82f0ff);
  background-size: 400% 400%;
  z-index: -1;
  border-radius: 1rem;
  animation: waveAnimation 5s ease infinite;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-info {
  --color: #f1f8ff;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
  z-index: 1;
}



