<div class="containerMain">
  <app-left-contact-for-message></app-left-contact-for-message>
  <div class="rightContainer">
    <div class="containerCard">
      <div class="card">
        <div class="card-info">
          <div class="image-container">
            <img [src]="'data:image/png;base64,' + contactSelected.image" alt="Contact Image" class="contact-image">
            <button class="edit-image-button" (click)="triggerFileInput()">
              <img src="../../../assets/img/add.png" alt="Edit" class="edit-icon">
            </button>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" class="file-input">
          </div>
          <form (ngSubmit)="onSubmit()">
            <div class="input-wrapper">
              <input type="text" placeholder="Nom" [(ngModel)]="contactSelected.contactName" name="contactName" class="stylish-input">
              <input type="text" placeholder="Numéro de téléphone" [(ngModel)]="contactSelected.telephone" name="telephone" class="stylish-input">
              <input placeholder="Email" [(ngModel)]="contactSelected.contactEmail" name="contactEmail" class="stylish-input input-not-allowed" [disabled]="true">
            </div>
            <div class="buttonContainer">
              <button class="buttonDelete" (click)="deleteContact()">Delete</button>
              <button class="buttonEdit" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <button class="buttonAddContact">
      <img src="../../../assets/img/add-user.png" (click)="navigate('add-contact')">
    </button>
  </div>
</div>
