.leftContainer {
  height: 100vh;
  background-color: white;
  box-shadow: 6px 0 7px -4px rgba(0, 0, 0, 0.7);
}
.head {
  background-color: #a4d3ff;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
  height: 80px;
}
.contactContainer{
  padding: 10px;
}
