.leftContainer {
  height: 100vh;
  background-color: white;
  box-shadow: 6px 0 7px -4px rgb(181 181 181 / 70%);
}

.head {
  background-color: #01a9f0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 70px;
}
.contactContainer{
  padding: 10px;
}
