.containerMain {
  display: flex;
  width: 100%;
  height: 100vh;
}

app-navigation {
  flex: 0 0 5%;
  display: flex;
  background: rgb(46,195,255);
  background: linear-gradient(180deg, rgba(46,195,255,1) 0%, rgba(59,210,255,1) 29%, rgba(131,241,254,1) 63%);
  flex-direction: column;
  box-shadow: 6px 0 7px -4px rgb(181 181 181 / 70%);
}

app-right-message {
  flex: 1;
}

app-right-contact {
  flex: 1;
}
app-add-contact {
  flex: 1;
}
