.containerMain {
  display: flex;
  width: 100%;
  height: 100vh;
}

app-navigation {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 0 7px -4px rgb(181 181 181 / 70%);
}

app-right-message {
  flex: 1;
}

app-right-contact {
  flex: 1;
}
app-add-contact {
  flex: 1;
}
